/AD1/nbproject/private/
/Aula1/nbproject/private/
/Aula1/build/
/Aula2/nbproject/private/
/Aula2/build/
/Aula3/nbproject/private/
/Aula3/build/
/Aula4/nbproject/private/
/Aula4/build/
/Aula5/nbproject/private/
/Aula5/build/
/Aula6/nbproject/private/
/Aula6/build/
/Aula7/nbproject/private/
/Aulas7/nbproject/private/
/Aulas7/build/
/Trabalho_grupo/nbproject/private/
/Trabalho_grupo/build/
/Aula8/nbproject/private/
/Aula8/build/
/JavaFXSwingApplication1/nbproject/private/
/SmartTermo/nbproject/private/
/SmartTermo/build/
/SmarttermoAzureIoT/target/
/RaspberryAzure/target/
/Projecto_2/target/